# Игнорировать файл .env с конфиденциальными данными
.env

# Игнорировать содержимое папки data, но сохранить саму папку
/data/*
# Не игнорировать .gitkeep в папке data
!/data/.gitkeep

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать виртуальное окружение
venv/
env/
ENV/

# Игнорировать логи
logs/
*.log